<h1>P4U - ペルソナ4 マヨナカ ランキング -</h1>

<div class="container">
  <section>
    <h2>このサイトについて</h2>
    <p>このサイトはIndex - ATLUS様が運営している<cite><a href="http://p4u.tv/">P4U - ペルソナ4 ジ・アルティメット イン マヨナカアリーナ - </a></cite>のサイトのデータを取得し、それを利用させて頂いていております。Index - ATLUS様の意向により突然のサイトの閉鎖の可能性もありますので、予めご了承ください。</p>
  </section>

  <section>
    <h3>Contents</h3>
    <ul class="unstyled">
      <li><%= link_to "プレイヤー検索", "/search" %></li>
      <li><%= link_to "ランキング", "/rankings" %></li>
    </ul>
  </section>
</div>
<footer class="footer">
  <address>
<p>このサイトは<a href="http://twitter.com/kenan_" target="_blank">@kenan_</a>により作成されています。
ご意見、ご要望は<a href="http://twitter.com/kenan_" target="_blank">@kenan_</a>までご連絡ください。</p>
  </address>
</footer>
